{% extends 'base.html' %} {% load static %} {% block mainbody %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="container">
      <div class="row">
        <h4 class="fw-bold py-1 mb-3">
          <span class="fw-light">채팅방</span>
        </h4>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
              <div id="chat-body">
                <header class="container">
                  <div class="row justify-items-center">
                    <p class="col-12"></p>
                    새로운 메이트와 연결되었어요! 대화를 통해 교류할 테마부터
                    결정해요 :D
                  </div>
                  <div class="row justify-items-center">
                    <button class="col btn btn-primary btn-lg">
                      교류 테마 선택
                    </button>
                  </div>
                </header>
                <main>
                  <!-- 고정된 공지사항 영역 -->
                  <div class="notice-bar">
                    <i class="icon-bullhorn"></i>
                    <span>멘트를 고정해놓는 곳입니다.</span>
                    <i class="icon-down-open-big"></i>
                  </div>
                  <!-- 채팅 내용 시작 -->
                  <div class="chat-content">
                    <!-- 메시지 시작 날짜 -->
                    <div class="date-line">
                      <time datetime="2021-03-29">2021년 3월 29일 월요일</time>
                    </div>
                    <!-- 채팅 내용 -->
                    <div class="main-chat">
                      <div class="me-chat">
                        <div class="me-chat-col">
                          <span class="balloon">Hello! I'm 유준호!</span>
                        </div>
                        <time datetime="07:32:00+09:00">오전 7:32</time>
                      </div>
                      <div class="friend-chat">
                        <img
                          class="profile-img"
                          src="{% static 'assets/img/Tommy.png' %}"
                          alt="쀼프로필사진"
                        />
                        <div class="friend-chat-col">
                          <span class="profile-name">Tommy</span>
                          <span class="balloon"
                            >안녕하세요 저는 토미입니다!</span
                          >
                        </div>
                        <time datetime="07:35:00+09:00">오전 7:35</time>
                      </div>
                      <div class="me-chat">
                        <div class="me-chat-col">
                          <span class="balloon">Nice to meet you!</span>
                          <span class="balloon">I also really like cats</span>
                        </div>
                        <time datetime="07:36:00+09:00">오전 7:36</time>
                      </div>
                      <div class="friend-chat">
                        <img
                          class="profile-img"
                          src="{% static 'assets/img/Tommy.png' %}"
                          alt="쀼프로필사진"
                        />
                        <div class="friend-chat-col">
                          <span class="profile-name">Tommy</span>
                          <span class="balloon">Oh that sounds goood</span>
                          <span class="balloon"
                            >then how about going to cafe in Dongseongro and
                            talking about that??</span
                          >
                        </div>
                        <time datetime="09:00:00+09:00">오전 9:00</time>
                      </div>
                      <div class="me-chat">
                        <div class="me-chat-col">
                          <span class="balloon"
                            >GREAT! How about tomorrow?</span
                          >
                        </div>
                        <time datetime="09:30:00+09:00">오전 9:30</time>
                      </div>
                      <div class="friend-chat">
                        <img
                          class="profile-img"
                          src="{% static 'assets/img/Tommy.png' %}"
                          alt="쀼프로필사진"
                        />
                        <div class="friend-chat-col">
                          <span class="profile-name">Tommy</span>
                          <span class="balloon"
                            >Good! And let’s meet at 2:00</span
                          >
                        </div>
                        <time datetime="10:15:00+09:00">오전 10:15</time>
                      </div>
                    </div>
                  </div>
                  <!-- 채팅 입력창 -->
                  <div class="insert-content">
                    <!-- <form name="chatform" action="" method="post">
                        {% csrf_token %} -->
                    <textarea name="chat-insert" required></textarea>
                    <input type="submit" class="chat-submit" value="전송" />
                    <!-- </form> -->
                    <div
                      class="mt-2"
                      style="border-top: 1px solid black; text-align: center"
                    >
                      <div class="mb-2"></div>
                      <a href="{% url 'thema' %}"
                        ><span>만남 약속 잡기</span></a
                      >
                    </div>
                    <!-- 채팅 입력 관련 기능(파일 첨부, 캡쳐 등) -->
                    <div class="insert-menu">
                      <i class="icon-smile"></i>
                      <i class="icon-attach"></i>
                      <i class="icon-phone"></i>
                      <i class="icon-calendar-empty"></i>
                      <i class="icon-camera"></i>
                    </div>
                  </div>
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
