{% load static %}
<!DOCTYPE html>

<html
    lang="en"
    class="light-style layout-menu-fixed"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="{% static 'assets/' %}"
    data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Shall We?</title>

    <meta name="description" content="" />

    <!--fontAwesome-->
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
        rel="stylesheet"
        href="{% static 'assets/vendor/fonts/boxicons.css' %}"
    />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/chat-room.css' %}">
    <link href="{% static 'assets/fontawesome/css/all.css'%}" rel="stylesheet">
    <link
        rel="stylesheet"
        href="{% static 'assets/vendor/css/core.css' %}"
        class="template-customizer-core-css"
    />
    <link
        rel="stylesheet"
        href="{% static 'assets/vendor/css/theme-default.css' %}"
        class="template-customizer-theme-css"
    />
    <!-- Vendors CSS -->
    <link
        rel="stylesheet"
        href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />

    <link
        rel="stylesheet"
        href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}"
    />
    <!-- Page CSS -->
    
    <link rel="stylesheet" href="{% static 'assets/css/meet.css' %}" />
    <style>
        #kkkk{
            padding: 0 px;
            font-size: 1rem;
            text-align: center;
            color: #1C3BD5;
            border: 1px solid #1C3BD5;
            border-radius: 10px;
            background-color: white;
        }
        #kkkk:hover{
            padding: 0 px;
            font-size: 1rem;
            text-align: center;
            color: white;
            border: 1px solid #1C3BD5;
            border-radius: 10px;
            background-color: #1C3BD5;
        }
    </style>
    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/calendar.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'assets/js/table.js' %}"></script>
</head>
<body style="background-color: #1C3BD5; width: 100%;">
    <div class='header'>
        <i class="fa-solid fa-angle-left angleLeft"></i>
        <span>오늘의 테마</span>
    </div>
    <div class="profile">
        <div class="card">
            <div class="nav-align-top mb-4 mt-4">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <button
                            type="button"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#Q1"
                            aria-controls="Q1"
                            aria-selected="true"
                        >   
                        Q1.
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#Q2"
                            aria-controls="Q2"
                            aria-selected="false"
                        >
                        Q2.
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#Q3"
                            aria-controls="Q3"
                            aria-selected="false"
                        >
                        Q3.
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="Q1" role="tabpanel">
                        <div class="text-center">
                            <img src="{% static 'assets/img/깻잎.png' %}" class="rounded ">
                        </div>
                        <h5 class="card-title text-primary mt-3">
                            Q1.  깻잎 논쟁을 아시나요?<br>
                            Do you know the Perilla leaf Debate?
                        </h5>
                        <img src="{% static 'assets/img/말하는사람.png' %}">
                        <span class="badge rounded bg-label-secondary mb-2">참고 표현</span>
                        <p>
                            쌈을 싸다   wrap [ ræp ] <br>
                            떼다   pull off, take off   <br>
                            연인   couple [ ˈkʌpl ] , lover [ ˈlʌvə(r) ] <br>
                            ~를 미치게 하다   drive somebody crazy <br>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="Q2" role="tabpanel">
                        <div class="text-center">
                            <img src="{% static 'assets/img/새우.png' %}" class="rounded ">
                        </div>
                        <h5 class="card-title text-primary mt-3">
                            Q2. 내 절친의 새우를 까주는 나의 연인, 이때 나의 반응은?<br>
                            If your lover peels shrimp for my best friend,<br>
                            will you be jealous or not?
                        </h5>
                        <img src="{% static 'assets/img/말하는사람.png' %}">
                        <span class="badge bg-label-secondary mb-2">참고 표현</span>
                        <p>
                            절대 안 돼!   No way!<br>
                            오해의 소지가 있는   misleading [ ˌmɪsˈliːdɪŋ ]<br>
                            많은 정성이 들어가다   put so much effort<br>
                            내 연인은 친절해  He/She has good manners <br>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="Q3" role="tabpanel">
                        <div class="text-center">
                            <img src="{% static 'assets/img/연인.png' %}" class="rounded ">
                        </div>
                        <h5 class="card-title text-primary mt-3">
                            Q3. 집착하는 연인 VS 무관심한 연인<br>
                            A lover obsessed with me  VS a lover indifferent to me
                        </h5>
                        <img src="{% static 'assets/img/말하는사람.png' %}">
                            <span class="badge bg-label-secondary mb-2 ">참고 표현</span>
                        <p>
                            여사친/남사친   female friend/guy friend<br>
                            연락두절   out of contact<br>
                            말이 안 된다   It doesn’t make sense<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class ="container text-center">
                <div class="row">
                    <!-- 채팅방 시작 -->
                    <div 
                        class="col"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#chat"
                        aria-controls="offcanvasBottom"
                        >
                        <img  src="{% static 'assets/img/채팅.png' %}">
                        <br>채팅방
                    </div>
                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="chat" aria-labelledby="offcanvasBottomLabel" style="height: 80%; overflow:scroll;">
                        <div class="container offcanvas-header">
                            <div class="row">
                                <div class="col-12">
                                    <div id="chat-body">
                                        <!-- 설정바(최소화, 닫기 버튼 등) -->
                                        <div class="setting_bar">
                                            <i class="icon-window-minimize" alt="최소화버튼" title="최소화"></i>
                                            <i class="icon-window-maximize" alt="최대화버튼" title="최대화"></i>
                                            <i class="icon-cancel" alt="닫기버튼" title="닫기"></i>
                                        </div>
                                        <!-- 알림, 메뉴 기능 -->
                                        <div class="main-menu">
                                            <i class="icon-bell" title="알림"></i>
                                            <i class="icon-ellipsis" title="메뉴"></i>
                                        </div>
                                        <!-- 프로필 사진, 프로필명 -->
                                        <header>
                                            <img class="profile-img" src="{% static 'assets/img/Tommy.png' %}" alt="쀼프로필사진">
                                            <div class="profile-col">
                                                <span class="profile-name">Tommy</span>
                                                <div class="sub-menu">
                                                    <i class="icon-box" title="채팅방 서랍"></i>
                                                    <i class="icon-search" title="검색"></i>
                                                </div>
                                            </div>
                                        </header>
                                        <main>
                                            <!-- 고정된 공지사항 영역 -->
                                            <div class="notice-bar">
                                                <i class="icon-bullhorn"></i>
                                                <span>멘트를 고정해놓는 곳입니다.</span>
                                                <i class="icon-down-open-big"></i>
                                            </div>
                                            <!-- 채팅 내용 시작 -->
                                            <div class="chat-content">
                                                <!-- 메시지 시작 날짜 -->
                                                <div class="date-line">
                                                    <time datetime="2021-03-29">2021년 3월 29일 월요일</time>
                                                </div>
                                                <!-- 채팅 내용 -->
                                                <div class="main-chat">
                                                    <div class="me-chat">
                                                        <div class="me-chat-col">
                                                            <span class="balloon">Hello! I'm 유준호!</span>
                                                        </div>
                                                        <time datetime="07:32:00+09:00">오전 7:32</time>
                                                    </div>
                                                    <div class="friend-chat">
                                                        <img class="profile-img" src="{% static 'assets/img/Tommy.png' %}" alt="쀼프로필사진">
                                                        <div class="friend-chat-col">
                                                            <span class="profile-name">Tommy</span>
                                                            <span class="balloon">안녕하세요 저는 토미입니다!</span>
                                                        </div>
                                                        <time datetime="07:35:00+09:00">오전 7:35</time>
                                                    </div>
                                                    <div class="me-chat">
                                                        <div class="me-chat-col">
                                                            <span class="balloon">Nice to meet you!</span>
                                                            <span class="balloon">I also really like cats</span>
                                                        </div>
                                                        <time datetime="07:36:00+09:00">오전 7:36</time>
                                                    </div>
                                                    <div class="friend-chat">
                                                        <img class="profile-img" src="{% static 'assets/img/Tommy.png' %}" alt="쀼프로필사진">
                                                        <div class="friend-chat-col">
                                                            <span class="profile-name">Tommy</span>
                                                            <span class="balloon">Oh that sounds goood</span>
                                                            <span class="balloon">then how about going to cafe in Dongseongro and talking about that??</span>
                                                        </div>
                                                        <time datetime="09:00:00+09:00">오전 9:00</time>
                                                    </div>
                                                    <div class="me-chat">        
                                                        <div class="me-chat-col">
                                                            <span class="balloon">GREAT! How about tomorrow?</span>
                                                        </div>
                                                        <time datetime="09:30:00+09:00">오전 9:30</time>
                                                    </div>
                                                    <div class="friend-chat">
                                                        <img class="profile-img" src="{% static 'assets/img/Tommy.png' %}" alt="쀼프로필사진">
                                                        <div class="friend-chat-col">
                                                            <span class="profile-name">Tommy</span>
                                                            <span class="balloon">Good! And let’s meet at 2:00</span>
                                                        </div>
                                                        <time datetime="10:15:00+09:00">오전 10:15</time>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 채팅 입력창 -->
                                            <div class="insert-content">
                                                <form name="chatform" action="#" method="post">
                                                    <textarea name="chat-insert" required></textarea>
                                                    <input type="submit" class="chat-submit" value="전송">
                                                </form>
                                                <!-- 채팅 입력 관련 기능(파일 첨부, 캡쳐 등) -->
                                                <div class="insert-menu">
                                                    <i class="icon-smile"></i>
                                                    <i class="icon-attach"></i>
                                                    <i class="icon-phone"></i>
                                                    <i class="icon-calendar-empty"></i>
                                                    <i class="icon-camera"></i>
                                                </div>
                                            </div>
                                        </main>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- 채팅방마무리 -->
                        <!-- 번역 시작 -->
                    <div 
                        class="col"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#translate"
                        aria-controls="offcanvasBottom"
                    >
                        <img  src="{% static 'assets/img/번역.png' %}">
                        <br>번역
                    </div>
                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="translate" aria-labelledby="offcanvasBottomLabel" style="height: 80%;">
                        <div class="continer">
                            <div class="row mx-auto mt-3">
                                <p class="col mt-3 mb-3" style="font-size: 20px; font-weight: bold; color: black;">번역</p>
                                <p class="col-6"></p>
                                <button class="col" 
                                    style=
                                    "background-color: white;
                                    color: blue;
                                    border: 0px"
                                    >전송
                                </button>
                            </div>
                            <div class="row">
                                <button
                                    type="button"
                                    class=" col dropdown-toggle  mb-3"
                                    style=
                                        "border: 0px;
                                        background-color: white;"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    한국어
                                </button>
                                <ul class="col dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">한국어</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">영어</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">중국어</a></li>
                                </ul>
                                <p class="col-2">사진</p>
                                <button
                                    type="button"
                                    class=" col dropdown-toggle mb-3"
                                    style=
                                        "border: 0px;
                                        background-color: white;"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    영어
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">한국어</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">영어</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">중국어</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <form name="chatform" action="#" method="post">
                                    <textarea name="chat-insert" required style="height: 300px;" >텍스트를 입력하세요</textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- 번역 마무리 -->
                    <!-- 사전 시작 -->
                    <div class="col"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#사전"
                        aria-controls="offcanvasBottom"
                    >
                        <img  src="{% static 'assets/img/사전.png' %}">
                        <br>사전
                    </div>
                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="사전" aria-labelledby="offcanvasBottomLabel" style="height: 80%;">
                        <div class="container">
                            <div class="row mt-3 ">
                                <h1 style="border-bottom: 2px solid gray; padding-bottom: 10px;"><span style="color: green; font-weight: bolder;">NAVER</span> 사전</h1>
                            </div>
                            <div class="row mb-3 mx-4">
                                <form name="chatform" action="#" method="post" style="border: 0px; border-bottom:2px solid gray; padding-bottom: 5px;">
                                    단어, 문장을 검색하세요.
                                    <i class="bx bx-search fs-4 lh-0" style="padding-left: 180px;"></i>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>전체</p>
                                </div>
                                <div class="col">
                                    <p>영어</p>
                                </div>
                                <div class="col">
                                    <p>English</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>한국어</p>
                                </div>
                                <div class="col">
                                    <p>Korean</p>
                                </div>
                                <div class="col">
                                    <p>한자</p>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="col" >
                        <img  
                            src="{% static 'assets/img/되돌리기.png' %}"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#modalToggle">
                        <br> 만남종료
                        <!-- 첫 모달 -->
                        <div 
                        class="modal fade"
                        id="modalToggle"
                        aria-labelledby="modalToggleLabel"
                        tabindex="-1"
                        style="display: none"
                        aria-hidden="true"
                        >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="continer">
                                        <div class="row">
                                            <div class="row modal-header text-center">
                                                <h5 class="modal-title mb-3" id="modalCenterTitle">메이트와의 만남이 종료되셨나요?</h5>
                                            </div>
                                            <button type="button" id="kkkk" class="col btn btn-outline-primary mx-4 mb-2" data-bs-dismiss="modal">
                                                아니오
                                            </button>
                                            <button type="button" id="kkkk" class="col btn btn-outline-primary mx-4 mb-2" 
                                                data-bs-target="#modalToggle2"
                                                data-bs-toggle="modal"
                                                data-bs-dismiss="modal">
                                                예
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 두번째 모달 -->
                        <div class="modal fade"
                        id="modalToggle2"
                        aria-hidden="true"
                        aria-labelledby="modalToggleLabel2"
                        tabindex="-1"
                        >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="continer">
                                        <div class="row">
                                            <span>온도 이미지</span>
                                            <div class="text-center">
                                                <h5 class="modal-title">온도가 1°C 올라갔어요!</h5>
                                            </div>
                                            <div class="d-grid gap-2 col-10 mx-auto">
                                                <button type="button" id="kkkk" class="col btn btn-outline-primary mb-2" data-bs-dismiss="modal">
                                                    오늘 배운 표현 기록하기
                                                </button>
                                                <button type="button" id="kkkk" class="col btn btn-outline-primary mb-2" data-bs-dismiss="modal">
                                                    메인페이지로 돌아가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/meet.js' %}">

    <!-- Page JS -->
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script src="{% static 'js/location_select.js' %}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>

