{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'assets/fontawesome/css/all.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/detailProfile.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/thema.css' %}" />
</head>
<body>
    <div class='header specialThemaHeader'>
        <a href="{% url 'thema' %}"><i class="fa-solid fa-angle-left angleLeft"></i></a>
        <span>미리 보기</span>
    </div>

    <div class="themaCard">
        <ul class="previewTabs">
            <li class="previewTab current">Q1.</li>
            <li class="previewTab">Q2.</li>
            <li class="previewTab">Q3.</li>
        </ul>
        <div class="previewQ">
            <p class="previewDes">다른 질문들은 테마 선택 확정 후에 공개돼요!</p>
            <img src="{% static 'assets/img/깻잎.png' %}">
            <p class="referTitle">
                Q1. 깻잎 논쟁을 아시나요?<br>
                Do you know the Perilla leaf Debate?
            </p>
            <img 
                src="{% static 'assets/img/reference.png' %}"
                class="referIcon">
            <p class="referDes">
                쌈을 싸다   wrap [ ræp ] <br>
                떼다   pull off, take off   <br>
                연인   couple [ ˈkʌpl ] , lover [ ˈlʌvə(r) ] <br>
                ~를 미치게 하다   drive <span class="referDesBright">somebody</span> crazy <br>
            </p>
        </div>
    </div>
</body>
</html>