{% extends 'base.html' %} {% load static %} {% block mainbody %}

<!-- filter -->

<!-- 
 1. 연령이랑 성별을 같은 줄에 두고 싶어요,,,, 인터넷 창 가로 폭이 좁아지면 밑으로 내려오게,, 하고싶어요,, 공간낭비가 너무 심해요,,,
 2. 필터링에 관심 해시 태그를 추가해서 검색하는 기능을 넣어햐할 것 같ㄴ아요,,,,
-->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-6 mb-4 order-0">
      <div class="card accordion-item">
        <h2 class="accordion-header p-2" id="headingOne">
          <button
            type="button"
            class="accordion-button"
            data-bs-toggle="collapse"
            data-bs-target="#accordionOne"
            aria-expanded="true"
            aria-controls="accordionOne"
          >
            <strong>필터 설정</strong>
          </button>
        </h2>
        <div
          id="accordionOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="card-body accordion-body">
            <form action="{% url 'filtered' %}" method="post">
              {% csrf_token %}
              <div class="card-body filter-age">
                <h5 class="card-title">연령대</h5>
                <div role="group">
                  <input type="hidden" name="filter-age20" value="0" />
                  <input
                    type="checkbox"
                    name="filter-age20"
                    value="20"
                    class="btn-check"
                    id="filter-age20"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="filter-age20">
                    20대
                  </label>

                  <input type="hidden" name="filter-age30" value="0" />
                  <input
                    type="checkbox"
                    name="filter-age30"
                    value="30"
                    class="btn-check"
                    id="filter-age30"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="filter-age30">
                    30대
                  </label>

                  <input type="hidden" name="filter-age40" value="0" />
                  <input
                    type="checkbox"
                    name="filter-age40"
                    value="40"
                    class="btn-check"
                    id="filter-age40"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="filter-age40">
                    40대 이상
                  </label>
                </div>
              </div>

              <div class="card-body filter-sex">
                <h5 class="card-title">성별</h5>
                <input type="hidden" name="filter-sex" value="x" />
                <label class="radio-btn">
                  <input type="radio" name="filter-sex" value="남" />
                  <span>남</span>
                </label>
                <label class="radio-btn">
                  <input type="radio" name="filter-sex" value="여" />
                  <span>여</span>
                </label>
              </div>

              <div class="card-body">
                <h5 class="card-title">거주 지역</h5>
                <select
                  class="p-2 mx-1"
                  name="addressDo"
                  id="addressDo"
                  style="border-color: #1c3bd5; color: #1c3bd5"
                ></select>
                <select
                  class="selectpicker p-2 mx-1"
                  name="addressSiGunGu"
                  id="addressSiGunGu"
                  style="border-color: #1c3bd5; color: #1c3bd5"
                ></select>
                <select
                  class="selectpicker p-2 mx-1"
                  name="addressEMD"
                  id="addressEMD"
                  style="border-color: #1c3bd5; color: #1c3bd5"
                ></select>
                <!-- <div class="btn-group dropdwon-residence-city">
                <button
                  type="button"
                  class="btn btn-outline-primary dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  시/도
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">서울</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">경기</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">인천</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">대전</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">대구</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">부산</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">울산</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">광주</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">강원</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">세종</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">충북</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">충남</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">경북</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">경남</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">전북</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">전남</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">제주</a>
                  </li>
                </ul>
              </div>

              <div class="btn-group dropdwon-residence-town">
                <button
                  type="button"
                  class="btn btn-outline-primary dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  시/군/구
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      >ㅏㅏㅏㅏㅏ</a
                    >
                  </li>
                </ul>
              </div> -->
              </div>

              <div class="card-body filter-selected">
                <button type="submit" class="btn btn-primary">선택 완료</button>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Congratulations John! 🎉</h5>
              <p class="mb-4">
                You have done <span class="fw-bold">72%</span> more sales today.
                Check your new badge in your profile.
              </p>

              <a href="javascript:;" class="btn btn-sm btn-outline-primary"
                >View Badges</a
              >
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img
                src="../assets/img/illustrations/man-with-laptop-light.png"
                height="140"
                alt="View Badge User"
                data-app-dark-img="illustrations/man-with-laptop-dark.png"
                data-app-light-img="illustrations/man-with-laptop-light.png"
              />
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-lg-6 order-1">
      <div class="card col">
        <h5 class="card-header"><strong>새 친구를 찾아보세요!</strong></h5>
        <div class="table-responsive text-nowrap">
          <!--
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
            <td>
              <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                <li
                data-bs-toggle="tooltip"
                data-popup="tooltip-custom"
                data-bs-placement="top"
                class="avatar avatar-xs pull-up"
                title="Lilian Fuller"
                >
                <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
              </li>
              </ul>
            </td>
            <td><span class="badge bg-label-primary me-1">Active</span></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-edit-alt me-1"></i> Edit</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-trash me-1"></i> Delete</a
                  >
                </div>
              </div>
            </td>
          -->
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>이름</th>
                <th>나이</th>
                <th>국적</th>
                <th>성별</th>
                <th>거주지</th>
                <th>좋아하는 장소</th>
              </tr>
            </thead>

            <tbody class="table-border-bottom-0">
              {% for user in result %}
              <tr>
                <td>
                  <img
                    src="{{ user.userprofile.get_photo_home_url }}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>{{user.name}}</td>
                <td>{{user.birth}}</td>
                <td>{{user.nationality}}</td>
                <td>{{user.sex}}</td>
                <td>
                  {{user.address_do}} {{user.address_sgg}} {{user.address_emd}}
                </td>
                <td>{{user.like_place}}</td>
              </tr>
              {% endfor %}
              <!-- <tr>
                <td>
                  <img
                    src="{% static 'assets/img/avatars/5.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>Albert Cook</td>
                <td>20</td>
                <td>대한민국</td>
                <td>여</td>
                <td>대구 북구</td>
                <td>카페</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="{% static 'assets/img/avatars/5.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>Albert Cook</td>
                <td>20</td>
                <td>대한민국</td>
                <td>여</td>
                <td>대구 북구</td>
                <td>카페</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="{% static 'assets/img/avatars/5.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>Albert Cook</td>
                <td>20</td>
                <td>대한민국</td>
                <td>여</td>
                <td>대구 북구</td>
                <td>카페</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="{% static 'assets/img/avatars/5.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>Albert Cook</td>
                <td>20</td>
                <td>대한민국</td>
                <td>여</td>
                <td>대구 북구</td>
                <td>카페</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="{% static 'assets/img/avatars/5.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>Albert Cook</td>
                <td>20</td>
                <td>대한민국</td>
                <td>여</td>
                <td>대구 북구</td>
                <td>카페</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="{% static 'assets/img/avatars/5.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>Albert Cook</td>
                <td>20</td>
                <td>대한민국</td>
                <td>여</td>
                <td>대구 북구</td>
                <td>카페</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="{% static 'assets/img/avatars/5.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                </td>
                <td>Albert Cook</td>
                <td>20</td>
                <td>대한민국</td>
                <td>여</td>
                <td>대구 북구</td>
                <td>카페</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
