{% extends 'base.html' %} {% load static %} {% block mainbody %}

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-6 mb-4 order-0">
      <div class="card accordion-item">
        <h2 class="accordion-header p-2" id="headingOne">
          <button
            type="button"
            class="accordion-button"
            data-bs-toggle="collapse"
            data-bs-target="#accordionOne"
            aria-expanded="true"
            aria-controls="accordionOne"
          >
            <strong>필터 설정</strong>
          </button>
        </h2>
        <div
          id="accordionOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="card-body accordion-body">
            <form action="{% url 'filtered' %}" method="post">
              {% csrf_token %}
              <div class="card-body filter-age">
                <h5 class="card-title">연령대</h5>
                <div role="group">
                  <input type="hidden" name="filter-age20" value="0" />
                  <input
                    type="checkbox"
                    name="filter-age20"
                    value="20"
                    class="btn-check"
                    id="filter-age20"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="filter-age20">
                    20대
                  </label>

                  <input type="hidden" name="filter-age30" value="0" />
                  <input
                    type="checkbox"
                    name="filter-age30"
                    value="30"
                    class="btn-check"
                    id="filter-age30"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="filter-age30">
                    30대
                  </label>

                  <input type="hidden" name="filter-age40" value="0" />
                  <input
                    type="checkbox"
                    name="filter-age40"
                    value="40"
                    class="btn-check"
                    id="filter-age40"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="filter-age40">
                    40대 이상
                  </label>
                </div>
              </div>

              <div class="card-body filter-sex">
                <h5 class="card-title">성별</h5>
                <input type="hidden" name="filter-sex" value="x" />
                <label class="radio-btn">
                  <input type="radio" name="filter-sex" value="남" />
                  <span>남</span>
                </label>
                <label class="radio-btn">
                  <input type="radio" name="filter-sex" value="여" />
                  <span>여</span>
                </label>
              </div>

              <div class="card-body">
                <h5 class="card-title">거주 지역</h5>
                <select
                  class="p-2 mx-1"
                  name="addressDo"
                  id="addressDo"
                  style="border-color: #1c3bd5; color: #1c3bd5"
                ></select>
                <select
                  class="selectpicker p-2 mx-1"
                  name="addressSiGunGu"
                  id="addressSiGunGu"
                  style="border-color: #1c3bd5; color: #1c3bd5"
                ></select>
                <select
                  class="selectpicker p-2 mx-1"
                  name="addressEMD"
                  id="addressEMD"
                  style="border-color: #1c3bd5; color: #1c3bd5"
                ></select>
              </div>

              <div class="card-body filter-selected">
                <button type="submit" class="btn btn-primary">선택 완료</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 order-1">
      <div class="card col">
        <h5 class="card-header"><strong>새 친구를 찾아보세요!</strong></h5>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>이름</th>
                <th>국적</th>
                <th>사용 언어</th>
                <th>거주지</th>
              </tr>
            </thead>

            <tbody class="table-border-bottom-0">
              {% for user in result %}
              <tr>
                <td>
                  {% if user.userprofile.get_photo_home_url %}
                  <img
                    src="{{ user.userprofile.get_photo_home_url }}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                  {% else %}
                  <img      
                    src="{% static 'assets/img/ordinary_profile_photo.png' %}"
                    alt="Avatar"
                    class="rounded-circle"
                    width="50px"
                  />
                  {% endif %}
                </td>
                <td>{{user.name}}</td>
                <td>{{user.nationality}}</td>
                <td>{{user.mother_tongue}}</td>
                <td>{{user.address_emd}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
