{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'assets/fontawesome/css/all.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/detailProfile.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/thema.css' %}" />
</head>
<body>
    <div class="header specialThemaHeader">
        <i class="fa-solid fa-angle-left angleLeft"></i>
        <span>스페셜 테마</span>
    </div>

    <img 
        src="{% static 'assets/img/advertisement/onedayClass1.png' %}" 
        class="onedayClass"/>
    <img 
        src="{% static 'assets/img/advertisement/onedayClass2.png' %}" 
        class="onedayClass"/>
    <img 
        src="{% static 'assets/img/advertisement/onedayClass3.png' %}" 
        class="onedayClass"/>

    <div class="registerButton">
        <span>예매하러 가기</span>
        <img
            src="{% static 'assets/img/화살표 (2).png' %}"
            class='next'/>
    </div>
</body>
</html>