{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="{% static 'assets/fontawesome/css/all.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/thema.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/detailProfile.css' %}" />
    </head>
    <body>
        <div class='header'>
            <i class="fa-solid fa-angle-left angleLeft"></i>
            <span>교류 테마 선택</span>
        </div>
        <div class="thema">
            <ul>
                <li>
                    <button></button>
                    <i>일반</i>
                </li>
                <li>
                    <button></button>
                    <i>스페셜</i>
                </li>
            </ul>
            <div class="themaContent">
                <div class="themaContentTab">
                    <p></p>
                </div>
                <div class="themaContentTab">
                    <p></p>
                </div>
            </div>
        </div>
    </body>
</html>