<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Shall We?</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo.png' %}"/>

    <!--fontAwesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"/>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" /> -->

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}"/>

    <!-- Core CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/detailProfile.css' %}"/> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/thema.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/chat-room.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/general.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css"/>
    <link href="{% static 'assets/fontawesome/css/all.css'%}" rel="stylesheet"/>
<!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}"/>
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->
    <script src="{% static 'assets/js/calendar.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'assets/js/table.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>

  <body>
    <div class="chat-top-nav">
      <div class="container d-flex justify-content-between align-items-center">
        <i class="fa-solid fa-angle-left angleLeft"></i>
        <div>채팅</div>
        <i class='fa-solid fa-ellipsis-vertical'></i>
      </div>
    </div>
    <div class="body">
      <div class="container-xxl flex-grow-1 container-p-y justify-content-center pt-3">
        <div class='row justify-content-center'>
          <div class='row justify-content-center'>
            <div class="col d-flex justify-content-center">
              <span class="row">새로운 메이트와 연결되었어요!</span>
            </div>
          </div>
          <div class='row justify-content-center'>
            <div class="col d-flex justify-content-center">
              <span class="row">대화를 통해 교류할 테마부터 결정해요 :D</span>
            </div>
          </div>
            <a href="{% url 'thema' opponent.id %}" class='row'>
              <button class='btn btn-outline-primary col d-flex justify-content-between align-items-center'><i></i><div>교류 테마 선택</div><i class="fa-solid fa-angle-right angleRight"></i></button>
            </a>
        </div>
        <div class='chat-body d-flex flex-column' id='chat-body'>
          {% for message in messages %}
            {% if message.sort == "ordinary" %}
              {% if message.author == user %}
                <div class='d-flex flex-row-reverse'>
                  <div class='me-chat'>
                    <div class='me-chat-col'>
                      <span class='balloon'> {{ message.message }} </span>
                    </div>
                    <time datetime='{{ message.created_time }}'>{{ message.created_time|date:"G:i" }}</time>
                  </div>
                </div>
              {% else %}
                <div class='d-flex flex-row'>
                  <div class='friend-chat'>
                    <img class='profile-img' src='{{ room.user1.userprofile.get_photo_home_url }}' alt='쀼프로필사진'/>
                    <div class='friend-chat-col'>
                      <span class='profile-name'>{{ message.author.name }}</span>
                      <span class='balloon'>{{ message.message }}</span>
                    </div>
                    <time datetime='{{ message.created_time }}'>{{ message.created_time|date:"G:i" }}</time>
                  </div>
                </div>
              {% endif %}
            {% elif message.sort == "thema"%}
              {% if message.author == user %}
              <div class='thema-message-container'>
                <a href="#">
                <div class='d-flex justify-content-center'>
                  <div class='thema-message-me px-3 pt-2'>
                    <span class="thema-author">{{message.author.name}}님께서 제안하신 테마입니다.</span>
                    <div class="thema-content"><span class='thema-sort'>{{message.thema_sort}}</span> <span class="thema-message"> Q{{message.thema_num}}. {{message.message}} </span> </div>
                    <div class="thema-modify my-2"><span>테마 수정하기</span></div>
                  </div>
                </div>
                </a>
                <div class='thema-confirmed'>
                  {% if message.thema_confirmed %}
                  <p style='color: #1c3bd5;'>테마가 확정되었습니다!</p>
                  {% else %}
                  <p>확정 대기중</p>
                  {% endif %}
                </div>
              </div>
              {% else %}
                <div class='thema-message-container'>
                  <a href="#">
                  <div class='d-flex justify-content-center'>
                    <div class='thema-message-friend px-3 pt-2'>
                      <span class="thema-author">{{message.author.name}}님께서 제안하신 테마입니다.</span>
                      <div class="thema-content"><span class='thema-sort'>{{message.thema_sort}}</span> <span class="thema-message"> Q{{message.thema_num}}. {{message.message}} </span> </div>
                      <div class="thema-modify my-2"><span>테마 수정하기</span></div>
                    </div>
                  </div>
                  </a>
                  <div class='thema-confirmed'>
                    {% if message.thema_confirmed %}
                    <p style='color: #1c3bd5;'>테마가 확정되었습니다!</p>
                    {% else %}
                    <p>확정 대기중</p>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% elif message.sort == "promise"%}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <nav class="sender-wrapper navs">
        {% comment %} <div class="insert-content"> {% endcomment %}
          <div class="tool-divs">
            <span><img src="{% static 'assets/img/번역_chat.png' %}" alt=""></span>
          </div>
          <div class="tool-divs">
            <span><img src="{% static 'assets/img/이모티콘.png' %}" alt=""></span>
          </div>
          <div class="input-divs">
            <input id="chat-message-input" type="text"/>
            <button class="submit-divs" type="submit" id="chat-message-submit" value="전송">
              <span><img src="{% static 'assets/img/전송.png' %}" style="width:22px; height:22px;"></span>
            </button>
          </div>
      </nav>
    </div>
    {{ user.username|json_script:"cur-user"}}
    {{ room.id|json_script:"room-name" }}
    <script>
      // let canvas = document.getElementById('chat-body')
      const roomName = JSON.parse(document.getElementById("room-name").textContent);

      const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomName + "/");

      chatSocket.onmessage = function (e) {
        const time = new Date();
        const hour = String(time.getHours());
        const minute = String(time.getMinutes()).padStart(2,"0");
        const timetext = `${hour}:${minute}`
        const data = JSON.parse(e.data);
        const cur_user = JSON.parse(document.getElementById("cur-user").textContent);
        if (data.username == cur_user) {
          if (data.sort == "ordinary"){
            let tag = "<div class='d-flex flex-row-reverse'><div class='me-chat'> <div class='me-chat-col'><span class='balloon'>" + data.message + "</span></div><time datetime="+time+">"+timetext+"</time></div></div>";
            $("#chat-body").append(tag);
          }
          else if (data.sort == "thema"){
            //let tag = "<div class='d-flex flex-row-reverse'> <p>"+data.name+"님께서 제안하신 테마입니다.</p> <p>"+data.thema_sort+"Q"+data.thema_num+". 깻잎 논쟁을 아시나요?</p><p>확정 대기중</p> </div>"
            let tag = "<a href='#'> <div class='d-flex justify-content-center'> <div class='thema-message-me px-3 pt-2'> <span class='thema-author'>"+data.name+"님께서 제안하신 테마입니다.</span> <div class='thema-content'><span class='thema-sort'>"+data.thema_sort+"</span> <span class='thema-message'> Q"+ data.thema_num+". "+ data.message +" </span> </div> <div class='thema-modify my-2'><span>테마 수정하기</span></div> </div> </div> </a>";
            if (data.thema_confirmed){
              tag += "<div class='thema-confirmed' ><p style='color: #1c3bd5;'>테마가 확정되었습니다!</p></div>";
            }
            else{
              tag += "<div class='thema-confirmed'><p>확정 대기중</p></div>";
            }
            tag = "<div class='thema-message-container'>"+ tag +"</div>";
            $("#chat-body").append(tag);
          }
          else if (data.sort == "promise"){
            let tag = "<div class='d-flex flex-row-reverse'> <p>"+data.name+"님께서 제안하신 만남입니다.</p> <p>"+data.promise_place+"위치보기</p><p>"+ data.promise_time +"</p><p>확정 대기중</p> </div>"
            $("#chat-body").append(tag);
          }
        } 
        else {
          if (data.sort == "ordinary"){
            let tag = "<div class='d-flex flex-row'><div class='friend-chat'> <img class='profile-img' src='{{ room.user1.userprofile.get_photo_home_url }}' alt='쀼프로필사진' /> <div class='friend-chat-col'> <span class='profile-name'>" + data.name + "</span> <span class='balloon' >" + data.message + "</span > </div> <time datetime="+time+">"+ timetext +"</time></div> </div>";
            $("#chat-body").append(tag);
          }
          else if (data.sort == "thema"){
            let tag = "<a href='#'> <div class='d-flex justify-content-center'> <div class='thema-message-friend px-3 pt-2'> <span class='thema-author'>"+data.name+"님께서 제안하신 테마입니다.</span> <div class='thema-content'><span class='thema-sort'>"+data.thema_sort+"</span> <span class='thema-message'> Q"+ data.thema_num+". "+ data.message +" </span> </div> <div class='thema-modify my-2'><span>테마 수정하기</span></div> </div> </div> </a>";
            if (data.thema_confirmed){
              tag += "<div class='thema-confirmed' ><p style='color: #1c3bd5;'>테마가 확정되었습니다!</p></div>";
            }
            else{
              tag += "<div class='thema-confirmed'><p>확정 대기중</p></div>";
            }
            tag = "<div class='thema-message-container'>"+ tag +"</div>";
            $("#chat-body").append(tag);
          }
          else if (data.sort == "promise"){
            let tag = "<div class='d-flex flex-row'> <p>"+data.name+"님께서 제안하신 만남입니다.</p> <p>"+data.promise_place+"위치보기</p><p>"+ data.promise_time +"</p><p>확정 대기중</p> </div>"
            $("#chat-body").append(tag);
          }
        // document.querySelector("#chat-log").value +=
        //   data.username + ": " + data.message + "\n";
        };
      }

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document
        .querySelector("#chat-message-input")
        .focus();
      document
        .querySelector("#chat-message-input")
        .onkeyup = function (e) {
          if (e.keyCode === 13) {
            // enter, return
            document
              .querySelector("#chat-message-submit")
              .click();
          }
        };

      document
        .querySelector("#chat-message-submit")
        .onclick = function (e) {
          const messageInputDom = document.querySelector("#chat-message-input");
          const message = messageInputDom.value;
          if (message != "") {
            chatSocket.send(JSON.stringify({message: message, sort:"ordinary"}));
            messageInputDom.value = "";
          };
        }
    </script>
  </body>

</html>
