a {
  color: #6c7d8f;
}

.double-nav {
  background-color: #1c3bd5;
  border-radius: 0px 0px 20px 20px/ 0px 0px 20px 20px;
  padding: 12px;
}

.invisible-color {
  opacity: 0;
}

.address {
  color: white;
}

.address-text {
  padding-right: 10px;
}

.search {
  border-left: solid 1px lightgray;
  padding-left: 5px;
}

.wrapper {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
}

.navs {
  overflow: hidden;
  background: white;
  padding-top: 5px;
}

.sender-wrapper {
  background: lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.input-divs {
  border-radius: 20px 20px 20px 20px/ 20px 20px 20px 20px;
  border: 1px gray solid;
  justify-content: start;
  float: left;
  width: 78%;
  height: 25px;
  line-height: 25px;
  padding-left: 0;
  background-color: white;
}

.input-divs > input {
  border-radius: 20px 0px 0px 20px/ 20px 0px 0px 20px;
  border: 0;
  justify-content: start;
  float: left;
  width: 90%;
  height: 100%;
  height: 25px;
  line-height: 25px;
  padding-left: 8px;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

/* .chat-input {
  width: 95%;
  border-radius: 20px 20px 20px 20px/ 20px 20px 20px 20px;
  border: 0px;
} */

.submit-divs {
  justify-content: start;
  float: left;
  padding-bottom: 2px;
  width: 10%;
  border-radius: 0px 20px 20px 0px/ 0px 20px 20px 0px;
  border: 0px;
  padding: 0;
  background-color: white;
}

.tool-divs {
  text-align: center;
  justify-content: center;
  float: left;
  width: 10%;
  height: 25px;
  line-height: 25px;
  padding: 0px;
}

.divs {
  text-align: center;
  justify-content: center;
  float: left;
  width: 20%;
  height: 25px;
  line-height: 25px;
  padding: 0px;
}

.nav-links {
  padding: 5px;
}

.nav-items {
  padding: 5px;
}

.nav-items-desc {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.body {
  padding-bottom: 70px;
}
