body {
    background-color: #1C3BD5;
    width: 100%;
}

.header {
    padding: 1rem;
    color: #FFF;
    overflow: hidden;
    text-align: center;
}
.profile {
    padding-bottom: 6rem;
    background-color: #FFF;
    width: 100%;
}
.buttonBox {
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px -2px 8px #CCC;
    position: fixed;
    bottom: 0;
    width: 100%;
}