a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.themaCard {
    text-align: center;
    background-color: #FFF;
    width: 100%;
    height: 684px; /* s8+ height(740px) - header(56px)*/
}

.tabs {
    overflow: hidden;
}

.tabs li {
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    font-weight: bold;
    width: 50%;
    color: #000;
    border-bottom: 2px solid #CCC;
    float: left;
}

.tabs li.current {
    color: #1C3BD5;
    border-bottom: 2px solid #1C3BD5;
}

.tabContent {
    display: none;
}

.tabContent.current {
    display: inherit;
}

.themaDes {
    padding: 1rem;
    padding-right: 2rem;
    text-align: left;
    color: #000;
    font-weight: 600;
    font-size: 0.9rem;
}

.randomButton {
    padding: 0.75rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border: 2px solid #1C3BD5;
    float: left;
}

.detailTabs li{
    font-weight: bold;
    color: #000;
    width: 25%;
    background-color: #CCC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    float: left;
    margin-top: 0.5rem;
}

.detailTabs li.detailCurrent {
    background-color: #1C3BD5;
    color: #FFF;
}

.completeButton {
    background-color: #1C3BD5;
    color: #FFF;
    width: 85%;
    text-align: center;
    border-radius: 7.5px;
    padding: 0.75rem;
    position: fixed;
    bottom: 0;
    margin: 1rem auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.detailThema{
    text-align: left;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

.detailThema tr td {
    padding: 0.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 360px;
}

.detailThema tr td:hover{
    color: #1C3BD5;
    background-color: rgba(204, 204, 204, 0.5);
}

.detailThema tr td:hover .detailThemaBadge{
    display: inline;
}

.detailThemaBadge {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.1rem;
    border-radius: 15px;
    background-color: #FFF;
    border: 1px solid #1C3BD5;
    display: none;
}


/* thema.html -> special */
.AdBanner {
    width: 95%;
    margin: 0.25rem;
}


/* specialThema.html */
.onedayClass {
    width: 100%;
}

.specialThemaHeader {
    background-color: #FFF;
    color: #000;
    border-bottom: 2px solid #CCC;
}

.specialThemaHeader i {
    color: #CCC;
}

.registerButton {
    border: 3px solid #1C3BD5;
    background-color: rgba(220, 233, 255, 0.8);
    border-radius: 10px;
    position: fixed;
    width: 80%;
    margin: 1rem auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
}

.registerButton span {
    font-weight: bold;
    color: #1C3BD5;
    font-size: 0.9rem;
    margin-left: 1rem;
}

.registerButton > .next {
    float: right;
    width: 1.5rem;
    margin-top: 0.25rem
}

.buttonDiv {
    overflow: hidden;
}


/* preview.html */
.previewTabs {
    overflow: hidden;
    padding-top: 1.5rem;
}

.previewTabs li {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.25rem;
    width: 33.3%;
    color: #000;
    background-color: #CCC;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
    float: left;
}

.previewTabs li.current {
    color: #1C3BD5;
    background-color: #FFF;
}

.previewDes, .referTitle, .referDes {
    padding: 1rem;
    padding-top: 1.5rem;
}

.referTitle {
    color: #1C3BD5;
    font-weight: bold;
    text-align: left;
}

.referDes {
    text-align: left;
    padding-top: 0.5rem;
}

.referIcon {
    padding-top: 1.25rem;
    padding-left: 0.75rem;
}

.referDesBright {
    color: #8c8c8c;
}


/* search.html */
.searchHeade {
    color: #CCC;
    overflow: hidden;
}

.searchHeader > .angleLeft {
    float: left;
    margin-left: 0.5rem;
}

.searchTitle {
    font-size: 1.25rem;
}

.searchTitle, .searchDes {
    color: #000;
    text-align: left;
    padding-left: 1rem;
    font-weight: bold;
}

.searchDes {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.filter-sex, .filter-age {
    text-align: left;
}

.radio-btn input[type="radio"], input[class="checkBox"] {
    display: none;
}

.radio-btn input[type="radio"] + span, input[class="checkBox"] + label {
    display: inline-block;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border: 2px solid #CCC;
    background-color: #FFF;
    text-align: center;
    color: #CCC;
    border-radius: 10px;
    margin-left: 1rem;
}

.radio-btn input[type="radio"]:checked + span, input[class="checkBox"]:checked + label {
    color: #1C3BD5;    
    border-color: #1C3BD5;
}

.serachButton {
    background-color: #1C3BD5;
    color: #FFF;
    width: 85%;
    text-align: center;
    border-radius: 7.5px;
    padding: 0.75rem;
    margin-top: 5rem;
}

.locationButton {
    all: unset;
    border: 1px solid #CCC;
    color: #000;
    background-color: #FFF;
    width: 85%;
    text-align: left;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 7.5px;
}

.downIcon {
    float: right;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    color: #CCC;
}

.locationButton:active {
    border: 2px solid #1C3BD5;
    color: #1C3BD5;
    background-color: #FFF;
    box-shadow: none;
}

.locationButton:focus {
    border: 2px solid #CCC;
    color: #000;
    background-color: #FFF;
    box-shadow: none;
}

.blue-text {
    color: #1C3BD5;
}

.modalHeader {
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

.modalFooter {
    border-top: 1.5px solid #CCC;
    overflow: hidden;
}

.modalClose, .modalCheck {
    padding: 1rem;
    width: 50%;
    background-color: #FFF;
    border-top-left-radius: ;
}

.modalClose {
    float: left;
    color: #000;
}

.modalCheck {
    float: right;
    color: #1C3BD5;
}

.modalTitle {
    margin-bottom: 0.5rem;
}

.modal-content {
    border-radius: 0.5rem !important;
}

/* 
.thema-select-place-group > .radio-btn input[type="radio"] + span {
    width: 4.5rem;
    margin-right: 0.5rem !important;
}

.thema-select-group > .radio-btn input[type="radio"] + span {
    width: 4.5rem;
    margin-right: 0.5rem;
} */

/* {
    font-family: 'Noto Sans', sans-serif;
}


.thema-table > tbody > tr > td:hover {
    color: #1C3BD5;
}


.radio-btn input[type="radio"] {
    display: none;
}

.radio-btn input[type="radio"] + span {
    display: inline-block;
    padding: 7px;
    width: 7.5rem;
    border: 1px solid #5f61e6;
    background-color: #ffffff;
    text-align: center;
    color: #5f61e6;
    cursor: pointer;
    border-radius: 0.45rem !important;
}

.radio-btn input[type="radio"]:checked + span {
    color: #fff;    
    background-color: #595cd9;
    border-color: #595cd9;
}

.radio-btn input[type="radio"]:hover + span {
    color: #fff;
    background-color: #595cd9;
    border-color: #595cd9;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.thema-select-place-group > .radio-btn input[type="radio"] + span {
    width: 4.5rem;
    margin-right: 0.5rem !important;
}

.thema-select-group > .radio-btn input[type="radio"] + span {
    width: 4.5rem;
    margin-right: 0.5rem;
}

.card-body > select {
    border-radius: 0.45rem;
}

.themaselect-textbox {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 20rem;
    outline: none;
}

.sns-img-box {
    text-align: center;
}

.sns-img-box > img {
    overflow: hidden;
    margin-right: 10px;
}

.offcanvas.offcanvas-bottom.thema-offcanvas {
    height: 55vh;
}

.cal-btn:hover {
    color: #ed2a61;
}

.calendar td {
    width: 2.5rem;
    text-align: center;
    height: 2.5rem;
}

.calendar {
    margin: auto;
} */