.profile-box {
  float: left;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.profile-photo-box {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 70%;
  overflow: hidden;
  position: relative;
}

.profile-photo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.usernationality {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

.userinfo {
  font-size: 13px;
}
